<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flavorique</title>
    <link rel="stylesheet" href="~/css/bootswatchTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
                    <img height="35px" src="https://localhost:7147/logo" alt="Flavorique Logo" />
                    Flavorique
                </a>
                <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-light"></span>
                </button>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div id="mySidebar" class="sidebar collapse d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-md-2" style="height: calc(100% - 20px)">
                <div class="mt-auto">

                <ul class="nav flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Users
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="Category" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Categories
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="Recipe" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Recipes
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="Tag" asp-action="Index">
                            <svg class="bi me-2" width="16" height="16"></svg>
                            Tags
                        </a>
                    </li>
                </ul>
        </div>
            </div>

            <div id="main" class="col-md-9">
               
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; 2023 - Flavorique - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    
</body>
</html>
