@using Microsoft.AspNetCore.Identity
@model PrintViewModel
@inject UserManager<ApplicationUser> UserManager
@{
	Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Print Recipe</title>
	<style>
		#printContainer {
			padding: 20px;
			width: 800px;
			border: 5px solid gray;
		}

		#headContainer {
			font-size: 12px;
		}

		img {
			border: 1px solid black;
			width: 150px;
			height: 150px;
			margin: 0;
			object-position: center;
			top: 0px;
		}

		tr {
			width: 100%;
		}

		#printTable, #bodyTd {
			border: 5px solid gray;
		}

		td {
			padding: 20px;
		}

	</style>
</head>
<body>
	<a id="printButton" href="">
		<button>Print</button>
	</a>
	<div id="printContainer">
		<table id="printTable" style="border: none; padding: 0px; width: 100%;">
			<tr>
				<td id="headContainer" style="font-size: 18px !important;">
					<h1 id="modelTitle">@Model.Title</h1>
					<p>Author: @Model.Author</p>
					<p>Reviews: ⭐⭐⭐⭐⭐</p>
				</td>
				<td style="padding: 20px;">
					<img src="@Model.Image" style="position: relative !important; right: 0 !important;">
				</td>
			</tr>
			<tr>
				<td id="bodyTd" colspan="2" style="border: none !important">
					@Html.Raw(Model.Body)
				</td>
			</tr>
		</table>
	</div>
</body>
</html>

<script>

	let printBtn = document.getElementById("printButton");
	let url = window.location.href;
	var match = url.match(/\/Print\/(\d+)/);
	let id = match[1];
	let printUrl = `https://localhost:7147/api/Recipe/PrintPDF?id=${id}`;
	printBtn.href = printUrl;
</script>