html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.viewport-container{
    position: absolute;
    left: 0;
    width: 100%;
}

.append-div {
    word-wrap: break-word;
}

.append-div figure{

    outline: none !important;
}

.append-div blockquote {
    border-left: 5px solid #ccc;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.append-div .ck-reset_all {
    display: none !important;
}

.ck-powered-by {
    display: none !important;
}

.ck-content {
    min-height: 400px;
}

.tag-container{
    gap: 10px;
}

.tag-container > * {
    margin-bottom: 0 !important;
    text-decoration: none;
}

.tag-container a {
    transition: 0.3s all ease-in;
    font-weight: bold;
}

.tag-container a:hover {
    background-color: #ba431a !important;
}

.star-rating {
    float: left;
    border: none;
}

.star-container{

    display: flex;
    align-items: center;
}

.star-rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    visibility: hidden;
    clip: rect(0, 0, 0, 0);
}

.star-rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 24px;
    line-height: 1.2;
    color: #bbb;
}

.star-rating:not(:checked) > label:before {
    content: '★ ';
}

.star-rating > input:checked ~ label {
    color: #f70;
}

.star-rating:not(:checked) > label:hover, .star-rating:not(:checked) > label:hover ~ label {
    color: gold;
}

.star-rating > input:checked + label:hover, .star-rating > input:checked + label:hover ~ label, .star-rating > input:checked ~ label:hover, .star-rating > input:checked ~ label:hover ~ label, .star-rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.star-rating > label:active {
    position: relative;
}

.recipe-content .ck-editor {
    min-width: 100%;
}

.recipe-ingredients .item .break{
    display: none;
}

.recipe-ingredients .item:hover .break {
    display: block;
}

#ingredients {
    margin-top: 50px;
}

#ingredients, #instructions {
    color: #e95420;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 2px solid #e95420;
}

    @media (max-width: 1000px) {
        .row-to-column {
            flex-direction: column;
        }

            .row-to-column .wider-item {
                min-width: 80%;
            }
    }