@{
    ViewData["Title"] = "Home Page";
}
<section class="d-flex align-items-center justify-content-between min-vh-100 row-to-column">
    <div style="max-width: 500px;">
    <h1>Main Hero Text Segment</h1>
    <p> Short Description about our website, probably includes a slogan.
        The text should atleast be three lines long, and is not THAT important.
        The text should atleast be three lines long, filler text.
    </p>
    </div>

    <div style="border: 1px solid black; width: 500px; aspect-ratio: 1 / 1;">
        I am an image
    </div>
</section>

<section class="d-flex flex-column align-items-center justify-content-evenly min-vh-100 w-100">
    <div class="d-flex align-items-center justify-content-center" style="min-height: 300px">
        <h2 class="position-absolute border p-2 bg-secondary text-center" style="z-index: 1; min-width: 350px">Explore Our Best Recipes</h2>
        <hr class="position-absolute m-0" style="width: 99vw;  z-index: 0" />
    </div>

    <div class="d-flex flex-wrap align-content-center justify-content-center my-5" style="gap: 50px">
        <div class="border" style="min-width: 250px; aspect-ratio: 4 / 5">Item</div>
        <div class="border" style="min-width: 250px; aspect-ratio: 4 / 5">Item</div>
        <div class="border" style="min-width: 250px; aspect-ratio: 4 / 5">Item</div>
        <div class="border" style="min-width: 250px; aspect-ratio: 4 / 5">Item</div>

        <div style="flex-basis: 100%; height:0;"></div>

        <div class="border" style="min-width: 150px; aspect-ratio: 1 / 1">Item</div>
        <div class="border" style="min-width: 150px; aspect-ratio: 1 / 1">Item</div>
        <div class="border" style="min-width: 150px; aspect-ratio: 1 / 1">Item</div>
        <div class="border" style="min-width: 150px; aspect-ratio: 1 / 1">Item</div>
        <div class="border" style="min-width: 150px; aspect-ratio: 1 / 1">Item</div>
        <div class="border" style="min-width: 150px; aspect-ratio: 1 / 1">Item</div>
    </div>


    <div class="w-100 d-flex flex-wrap justify-content-center align-content-center row-to-column" style="gap:50px;">
        <button class="btn btn-primary w-25 py-3 wider-item">View all categories</button>
        
        <p class="py-3 m-0 text-center"> or </p>

        <button class="btn btn-secondary py-3 wider-item" style="width: 40%;">Search here</button>
    </div>
</section>

<section class="d-flex align-items-center justify-content-between min-vh-100">
    <div style="border: 1px solid black; width: 500px; aspect-ratio: 1 / 1;">
        I am an image
    </div>

    <div style="width: 500px">
        <h1>Secondary Text Segment</h1>
        <p>
            Probably include an intro to our list of categories, which are below this segment.
            The text should atleast be three lines long, and is not THAT important.
            The text should atleast be three lines long, filler.
        </p>
    </div>
</section>

<section class="d-flex flex-column align-items-center justify-content-evenly min-vh-100 text-center">
    <h4>Latest Recipes</h4>
    <div class="w-100 d-flex flex-column align-items-center justify-content-center">
        @for (var i = 0; i < 3; i++)
        {
            <div class="border-bottom w-75 rounded d-flex align-items-center p-4" style="height:250px">
                <img class=" h-100" style="aspect-ratio: 1 / 1" />
                <div class="p-5" style="text-align:left">
                    <p class="text-secondary">November 14, 2023</p>
                    <h3 class="fw-bolder">Title</h3>
                    <p style="text-align: justify">This shredded beef Texas chili is rich and hearty, made with 8 simple ingredients! Just saucy chunks of tender beef that shreds apart with the lightest pull of a fork. YUM.</p>
                    <a href="#" style="font-size: 18px; letter-spacing: 1px">Continue Reading <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        }
    </div>
    <button class="btn btn-primary w-25 py-3 my-5">View more recipes</button>
</section>

<section style="margin-bottom:200px">
    <div class="viewport-container d-flex justify-content-evenly bg-primary mb-5" style="height: 200px">
        <div class="text-center d-flex align-items-center justify-content-evenly" style="gap: 50px">
            <h4 class="text-light m-0">Follow us</h4>
            <div class="m-0" style="transform: scale(2)">
                <a href="#"><i class="text-light bi bi-instagram"></i></a>
                <a href="#"><i class="text-light bi bi-facebook"></i></a>
                <a href="#"><i class="text-light bi bi-pinterest"></i></a>
                <a href="#"><i class="text-light bi bi-twitter-x"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center" >
            <h5 class="text-light m-0">Subscribe to our newsletter</h5>
            <div class="m-0">
                <form class="d-flex align-items-end text-light" style="gap: 10px">

                    <div class="form-group text-left w-75">
                        <label for="exampleInputName" class="form-label mt-4">Name</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter Name">
                    </div>
                    <div class="form-group text-left w-100">
                        <label for="exampleInputEmail" class="form-label mt-4">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>

                    <button type="submit" class="border border-warning btn btn-warning h-25 w-25">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
